:root {
  --color-dark-gray: #10100e;
  --color-dark-white: #fff;
  --color-dark-black: #000;

  --spacing-medium: 20px;

  --font-family-main: sans-serif;

  --border-radius-small: 3px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-gray);
  font-family: var(--font-family-main);
}
